@use 'variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amatic SC", sans-serif;
    background-color: variaveis.$corPrincipal;
}

header {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: bold;
}

body > header {
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post {
    margin-bottom: 24px;
}

/* Estilo para o formulário */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para os campos de entrada */
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilo para o botão */
button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para o botão quando hover */
button:hover {
    background-color: #0056b3;
}